<app-firstnav></app-firstnav>

<div class="best-selletdata">
    <div class="container">
        <ul class="best-seller">
            <li class="best-sellertitle">Search results for "{{search}}"</li>
            <!-- <li class="ml-auto"><a class="see-more" routerLink='/Best-seller' routerLinkActive="router-link-active">See More</a></li> -->
        </ul>
        <div class="row" *ngIf="!isLogin">
            <div class="col-md-3" *ngFor="let item of prods; let i=index">
                <div class="card seller-content" (click)="getProductsbyId(item)">
                    <div class="fruits-main"> <img class="card-img-top image-sell" src="{{item?.prouduct_image_url}}" alt="Card image cap">
                    </div>
                    <div class="card-body fruit-info">
                        <h5 class="card-title title-name">{{item?.product_title}}</h5>
                        <p class="card-text price-per">Price per kg </p>
                        <ul class="price-data">
                            <li>
                                <p class="price">INR {{item?.product_price}}</p>
                            </li>
                            <li class="rate-image ml-auto">
                                <!-- <img class="fruit-new" src="../../../assets/images/Group 31288.svg" alt=""> -->
                                <button class="btn btn-success" id="addcartbtn">Add to cart</button>
                            </li>                        </ul>
                    </div>
                </div>
                <a class="cart-data"><i class="far fa-heart hart-image"></i></a>
            </div>
        </div>
        <div class="row" *ngIf="isLogin">
            <div class="col-md-3 seller-card" *ngFor="let item of prods; let i=index">
                <div class="card seller-content" (click)="getProductsbyId(item)">
                    <div class="fruits-main"> <img class="card-img-top image-sell" src="{{item?.prouduct_image_url}}" alt="Card image cap">
                    </div>
                    <div class="card-body fruit-info">
                        <h5 class="card-title title-name">{{item?.product_title}}</h5>
                        <p class="card-text price-per">Price per kg </p>
                        <ul class="price-data">
                            <li>
                                <p class="price">INR {{item?.product_price}}</p>
                            </li>
                            <!-- <li class="rate-image ml-auto"><img class="fruit-new" src="../../../assets/images/Group 31288.svg" alt=""></li> -->
                            <li class="rate-image ml-auto">

                                <button class="btn btn-success" id="addcartbtn">Add to cart</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="!isLogin">
                    <a class="cart-data"><i class="far fa-heart hart-image"></i></a>
                    </div>
                    <div *ngIf="isLogin">
                        <a class="cart-data" *ngIf="item?.is_favourite == '0' " (click)="favorite(item)"><i class="far fa-heart hart-image"></i></a>
                        <a class="cart-data" *ngIf="item?.is_favourite == '1' " (click)="favorite(item)"><i style="color: #ed1c24;" class="fas fa-heart hart-image"></i></a>    
                    </div>
                </div>
        </div>
            <!-- <div class="col-md-4">
                <div class="card seller-content">
                    <div class="fruits-main"> <img class="card-img-top image-sell" src="../../../assets/images/Image 8.png" alt="Card image cap">
                    </div>
                    <div class="card-body fruit-info">
                        <h5 class="card-title title-name">Kashmir Apple</h5>
                        <p class="card-text price-per">Price per kg </p>
                        <ul class="price-data">
                            <li>
                                <p class="price">INR 150</p>
                            </li>
                            <li class="rate-image ml-auto"><img class="fruit-new" src="../../../assets/images/Group 31134.png" alt=""></li>
                        </ul>
                    </div>
                </div>
                <a class="cart-data" href="#"><i class="far fa-heart hart-image"></i></a>
            </div>
            <div class="col-md-4">
                <div class="card seller-content">
                    <div class="fruits-main"> <img class="card-img-top image-sell" src="../../../assets/images/Image 9.png" alt="Card image cap">
                    </div>
                    <div class="card-body fruit-info">
                        <h5 class="card-title title-name">Kashmir Apple</h5>
                        <p class="card-text price-per">Price per kg </p>
                        <ul class="price-data">
                            <li>
                                <p class="price">INR 150</p>
                            </li>
                            <li class="rate-image ml-auto"><img class="fruit-new" src="../../../assets/images/Group 31134.png" alt=""></li>
                        </ul>
                    </div>
                </div>
                <a class="cart-data" href="#"><i class="far fa-heart hart-image"></i></a>
            </div>
            <div class="col-md-4">
                <div class="card seller-content">
                    <div class="fruits-main"> <img class="card-img-top image-sell" src="../../../assets/images/Image 7.png" alt="Card image cap">
                    </div>
                    <div class="card-body fruit-info">
                        <h5 class="card-title title-name">Kashmir Apple</h5>
                        <p class="card-text price-per">Price per kg </p>
                        <ul class="price-data">
                            <li>
                                <p class="price">INR 150</p>
                            </li>
                            <li class="rate-image ml-auto"><img class="fruit-new" src="../../../assets/images/Group 31134.png" alt=""></li>
                        </ul>
                    </div>
                </div>
                <a class="cart-data" href="#"><i class="far fa-heart hart-image"></i></a>
            </div>
            <div class="col-md-4">
                <div class="card seller-content">
                    <div class="fruits-main"> <img class="card-img-top image-sell" src="../../../assets/images/Image 8.png" alt="Card image cap">
                    </div>
                    <div class="card-body fruit-info">
                        <h5 class="card-title title-name">Kashmir Apple</h5>
                        <p class="card-text price-per">Price per kg </p>
                        <ul class="price-data">
                            <li>
                                <p class="price">INR 150</p>
                            </li>
                            <li class="rate-image ml-auto"><img class="fruit-new" src="../../../assets/images/Group 31134.png" alt=""></li>
                        </ul>
                    </div>
                </div>
                <a class="cart-data" href="#"><i class="far fa-heart hart-image"></i></a>
            </div>
            <div class="col-md-4">
                <div class="card seller-content">
                    <div class="fruits-main"> <img class="card-img-top image-sell" src="../../../assets/images/Image 9.png" alt="Card image cap">
                    </div>
                    <div class="card-body fruit-info">
                        <h5 class="card-title title-name">Kashmir Apple</h5>
                        <p class="card-text price-per">Price per kg </p>
                        <ul class="price-data">
                            <li>
                                <p class="price">INR 150</p>
                            </li>
                            <li class="rate-image ml-auto"><img class="fruit-new" src="../../../assets/images/Group 31134.png" alt=""></li>
                        </ul>
                    </div>
                </div>
                <a class="cart-data" href="#"><i class="far fa-heart hart-image"></i></a>
            </div> -->

        <!-- </div> -->
    </div>
</div>

<app-footer></app-footer>