<!-- <app-firstnav></app-firstnav>


<div class="about-group">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="about-content">Our mission is to accelerate the adoption of cryptocurrency so that you and the rest of the world can achieve financial freedom and inclusion.</h2>
                <h3 class="about-us">Who we are?</h3>
                <p class="about-group-cnt">Recognizing the importance of Bitcoin from the onset and understanding that the exchange is the most critical part of the cryptocurrency ecosystem, Jesse Powell founded Coinarmy to give people the means to quickly and securely invest in
                    the space. Since then, the company has grown by leaps and bounds with hundreds of employees spanning the globe. We’re a diverse group of thinkers and doers that are dedicated to making cryptocurrency available and accessible to the
                    world and enabling people from all walks of life to invest in their independence.</p>
                <h3 class="about-us">What we do</h3>
                <h3 class="about-us">Empowering investors</h3>
                <p class="about-group-cnt">Whether you’re an advanced trader or a crypto-beginner, Coinarmy gives you the power to chart your own financial course. Our exchange has an ever-growing number of cryptocurrency pairs for you to invest in and a slew of tools and features
                    for you to leverage as you grow your portfolio. </p>

                <h3 class="about-us">Supporting institutions</h3>
                <p class="about-group-cnt">From over-the-counter trading to personalized white-glove account management, Coinarmy is the premier cryptocurrency investing solution for institutions of all sizes. We offer exceptional liquidity and competitive pricing for all our markets
                    so you can achieve your investment goals quickly and confidently. </p>

                <h3 class="about-us">Join the revolution</h3>
                <p class="about-group-cnt">Since Satoshi first mined Bitcoin’s genesis block in 2009, crypto has been changing the world - and the Coinarmy team is leading the charge. We’re looking for talented, inspiring people who are passionate about bringing cryptocurrency
                    to the mainstream. If you’re interested in joining Coinarmy, click the link below to learn more about all of our open job listings. </p>

                <p class="work-with-us">• • <span class="work-content-1">Come</span> <span class="work-content-2"> work with us!</span></p>


            </div>
        </div>
    </div>
</div>


<app-footer></app-footer> -->

<app-firstnav></app-firstnav>
<div class="blog_developnment">
    <h1 class="blog_heading">The page is under design </h1>
</div>
<app-footer></app-footer>