<app-firstnav></app-firstnav>



<div class="terms-service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="terms-header">TERMS OF SERVICE</h3>
                <h3 class="terms-header">PLEASE READ THESE TERMS OF SERVICE CAREFULLY. BY CLICKING THE "CREATE ACCOUNT" BUTTON OR BY ACCESSING OR USING THE SERVICES, YOU AGREE TO BE LEGALLY BOUND BY THESE TERMS OF SERVICE AND ALL TERMS INCORPORATED BY REFERENCE.</h3>
                <!-- <h1 class="terms-group-head">Summary of Terms of Service</h1>
                <p class="service-content">This summary of our Terms of Service offers you an overview of the key terms that apply to your use of our website and trading services. While we hope this summary section is helpful, you should read the <span class="complete-terms">complete Terms of
                        Service</span> below since they provide important information about how our services work. Please note that we refer to our online service where you can execute trades as<span class="complete-terms">"Coinarmy"</span> .</p>
                <p class="service-content">Coinarmy provides you with a platform that matches your trades with open orders from other users of our services at your direction. Users are not able to predetermine a trade with a particular user or with a particular account. Additionally,
                    an order may be partially filled or may be filled by multiple matching orders.</p> -->


            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>