.order-details{
    display: flex; justify-content: center; align-items: center; width: 250px; height: 100px;
}
.order-details1{
    display: flex; justify-content: center; align-items: center; width: 50px; height: 100px;
}
@media (max-width: 575.98px) {
    .order-details{
        width: 144px !important; 
    }
}
