<section>
    <div class="footer-content">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-2">
                    <h3 class="footer-main1">Frootcity</h3>
                    <ul class="footer-home">
                        <li *ngIf="!isLogin"><a class="footer-inside" [routerLink]="['/landing']" routerLinkActive="router-link-active">Home</a></li>
                        <li *ngIf="isLogin"><a class="footer-inside" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a></li>
                        <li><a class="footer-inside" [routerLink]="['/aboutus']" routerLinkActive="router-link-active">About Us</a></li>
                        <li><a class="footer-inside">Products</a></li>

                        <!-- <li><a class="footer-inside" >Contact Us</a></li> -->

                    </ul>
                </div>
                <div class="col-md-2">
                    <h3 class="footer-main1" [routerLink]="['/help']">Help</h3>
                    <ul class="footer-home">
                        <li><a class="footer-inside" [routerLink]="['/support']">Support</a></li>
                        <li><a class="footer-inside" [routerLink]="['/terms']" routerLinkActive="router-link-active">Terms & Conditions</a></li>
                        <li><a class="footer-inside" [routerLink]="['/privacy-policy']" routerLinkActive="router-link-active">Privacy & Policy</a></li> 
                        <li><a class="footer-inside" [routerLink]="['/faqs']" >FAQs</a></li>
                        <li><a class="footer-inside" [routerLink]="['/contactus']">Contact Us</a></li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="footer-main1">Download Our App</h3>
                    <ul class="footer-home">
                        <li>
                            <a class="footer-inside"><img class="store-img mt-1 mb-1" src="../../../../assets/images/playstore.png" alt=""></a>
                        </li>
                        <li>
                            <a class="footer-inside"><img class="store-img mt-1 mb-1" src="../../../assets/images/app-store.PNG" alt=""></a>
                        </li>

                    </ul>

                </div>
                <div class="col-md-4">
                    <h3 class="footer-main1">Get Social With Us</h3>
                    <ul class="nav social-links">
                        <li>
                            <a href="" class="social-icons"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="" class="social-icons social-icons1"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="" class="social-icons social-icons2"><i class="fab fa-linkedin-in"></i></a>
                        </li>

                        <li>
                            <a href="" class="social-icons social-icons3"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</section>